{% block resume %}
<!-- ======= Резюме ======= -->
<section id="resume" class="about">

  <!-- ======= Об авторе ======= -->
  <div class="about-me container">

    <div class="section-title">
      <h2>Resume</h2>
      <p>Experience and skills</p>
    </div>

    <div class="row">
      <div class="col-lg-4" data-aos="fade-right">
        <img src="static/img/me.png" class="img-fluid" alt="">
      </div>
      <div class="col-lg-8 pt-4 pt-lg-0 content" data-aos="fade-left">
        <h3>{{ tag1 }} </h3>
        <p class="fst-italic">
          I do web development with Django and Flask. Besides Python, I program in C/C++.
          <br>Looking to work in the
          following
          area projects:
        </p>
        <div class="row">
          <div class="col-lg-6">
            <ul>
              <li><i class="bi bi-chevron-right"></i> <strong>Machine learning</strong></li>
              <li><i class="bi bi-chevron-right"></i> <strong>EdTech</strong></li>
              <li><i class="bi bi-chevron-right"></i> <strong>Big Data</strong></li>
              <li><i class="bi bi-chevron-right"></i> <strong>Robotics</strong></li>
            </ul>
          </div>
          <div class="col-lg-6">
            <ul>
              <li><i class="bi bi-chevron-right"></i> <strong>Blockchain</strong></li>
              <li><i class="bi bi-chevron-right"></i> <strong>Neural networks</strong></li>
              <li><i class="bi bi-chevron-right"></i> <strong>Cryptocurrency</strong></li>
              <li><i class="bi bi-chevron-right"></i> <strong>Security-based</strong></li>
            </ul>
          </div>
        </div>
        <p>
          I had internship/training as a Python develop in:
        </p>
        <div class="row">
          <div class="col-lg-6">
            <ul>
              <li><i class="bi bi-chevron-right"></i> <strong>Exadel</strong></li>
            </ul>
          </div>
          <div class="col-lg-6">
            <ul>
              <li><i class="bi bi-chevron-right"></i> <strong>EPAM</strong></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div><!-- конец секции -->

  {% endblock %}